.body {
  font-family: "Roboto", sans-serif;
}
:root {
  --brand-color: #212121;
  --link-button-color: #2196f3;
  --note-link-color: #757575;
  --background-color-menu: #2f303a;
  --title-color2: #000000;
  --text-color-white: #ffffff;
  --footer-address-color: #ffffff99;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
img {
  display: block;
  max-width: 100%;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 80px;
}
.title-color1 {
  color: var(--link-button-color);
  font-weight: 700;
}
.title-color2 {
  color: var(--title-color2);
}
.title-color3 {
  color: var(--text-color-white);
}
.web-title {
  display: block;
  text-decoration: none;
  font-size: 26px;
}
.top-menu {
  display: flex;
  list-style: none;
}
.top-menu > .menu-nav-item:not(:last-child) {
  margin-right: 46px;
}
.top-menu > .menu-link:not(:last-child) {
  margin-right: 50px;
}
.link:focus,
.link:hover {
  color: var(--link-button-color);
  text-decoration: none;
}
.address-footer:focus,
.address-footer:hover {
  color: var(--link-button-color);
  text-decoration: none;
}
.link {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: var(--note-link-color);
  font-style: normal;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-size: 14px;
  font-style: normal;
  color: var(--text-color-white);
}
.menu-nav:focus,
.menu-nav:hover {
  color: var(--link-button-color);
  text-decoration: none;
}
.menu-nav {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding: 32px 0;
}

.menu-nav-active::after {
  content: "";
  border-bottom: 4px solid var(--link-button-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.button-entry:hover,
.button-entry:focus {
  background-color: var(--link-button-color);
  color: var(--text-color-white);
  border-color: var(--link-button-color);
}
.button-task:hover,
.button-task:focus {
  background-color: var(--link-button-color);
  color: var(--text-color-white);
  border-color: var(--link-button-color);
}
.button-entry {
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-entry {
  background-image: url(https://s3-alpha-sig.figma.com/img/1131/4362/dd953143a8a4d9f86ec8d71afc0e8103?Expires=1674432000&Signature=VeDTIJzFre0SHZ7-NOQ55r99hiiKdTLc7jBhQ~rHfXY-KqX7mi~SRxUILTPmUrY6-5~eokQOqlm1Rl2GkwEjBtC0XmRxpAh8dKVpIh-gGsTjHwuhqUY1YAHIujRHwTDK8fIs~GQsskzXy7yiL7Pqsz~1YjImT-7qxfVVd~gLrySN~VjocsiE9aDv5gJYng8m-JDWfqO2NP5ZKLIfQAdhRCW1-XeFZMXdoyCxnJjk5UJMvbozv~bqNVbuCF1nRlD71aZB5wwfx0gLlxMU17we1uNZ-6kOxBrerNNpuLzXxGfcdHczlpI0fJddQ0K5naWst4kMUHQcV~1CWqQvGb~aUg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  max-width: 1600px;
  background-color: var(--background-color-menu);
  color: var(--text-color-white);
  font-weight: 900;
  height: 600px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.h1 {
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
}
.main-page-card-set {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}
.main-page-card h4 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.main-page-card p {
  color: var(--note-link-color);
  font-size: 14px;
  line-height: 1.7;
}
.h2-what-we-do {
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 94px;
}
.what-we-do-img {
  list-style: none;
  display: flex;
  margin-top: 50px;
}
.what-we-do-img > .what-we-do-list:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  background-color: #f5f4fa;
}
.h2-team {
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 188px;
  padding-top: 94px;
}
.members-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
}
.h4-team-members {
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}
.member-position {
  font-size: 16px;
  color: var(--note-link-color);
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.desc-team {
  background-color: var(--text-color-white);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
footer {
  background-color: var(--background-color-menu);
}
.address-footer {
  color: var(--footer-address-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.web-title-footer {
  text-decoration: none;
  font-size: 26px;
  padding-top: 60px;
}
.address {
  margin-top: 20px;
}
.links-footer {
  list-style: none;
}
.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-tel {
  padding-bottom: 60px;
}
.portfolio-button {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-task {
  cursor: pointer;
  font-size: 16px;
  width: 121px;
  height: 38px;
  border: none;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button > .portfolio-button-list:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button-list:focus,
.portfolio-button-list:hover {
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
.portfolio-card-set {
  list-style: none;
  margin-top: 56px;
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-card:focus,
.portfolio-card:hover {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}
.h4-task {
  font-weight: 700;
  font-size: 18px;
  padding: 20px 24px 4px 24px;
}
.p-task {
  font-size: 16px;
  color: var(--note-link-color);
  padding: 0px 24px 20px 24px;
}
.portfolio-task {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.link-icon:focus,
.link-icon:hover {
  fill: var(--link-button-color);
  text-decoration: none;
}
.link-icon {
  cursor: pointer;
  fill: var(--note-link-color);
  font-style: normal;
  margin-right: 10px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.trump-icon {
  background-color: #f5f4fa;
  background-size: 270px 120px;
  margin: 25px 100px;
  border-radius: 4px;
}
.social-media-list {
  fill: #afb1b8;
  border-radius: 50%;
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-list:hover,
.social-media-list:focus {
  background-color: #2196f3;
  fill: var(--text-color-white);
}
.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.social-media > .social-media-list:not(:last-child) {
  margin-right: 10px;
}
.trump {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.h2-clients {
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 94px;
}
.clients-set {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
}
.clients-list {
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list:hover,
.clients-list:focus {
  fill: var(--link-button-color);
  border-color: var(--link-button-color);
}
.footer-social {
  color: var(--text-color-white);
  font-weight: 700;
  font-size: 14px;
  padding-top: 72px;
  padding-left: 70px;
}
.footer-list-icon {
  fill: var(--text-color-white);
  list-style: none;
}
.footer-menu {
  display: flex;
  justify-content: flex-start;
}
.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: var(--link-button-color);
}
.footer-social-media-link {
  border-radius: 50%;
  background-color: #ffffff1a;
  padding: 10px;
  fill: var(--text-color-white);
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-media {
  margin-top: 20px;
  margin-left: 70px;
  display: flex;
}
.portfolio-animation {
  position: relative;
  overflow: hidden;
  color: var(--text-color-white);
}
.portfolio-animation-p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  font-weight: 400;

  transform: translateY(101%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #2196f3e5;
}
.portfolio-card:hover .portfolio-animation-p,
.portfolio-card:focus .portfolio-animation-p {
  transform: translateY(0);
}
.what-we-do-list {
  position: relative;
  margin: auto;
  color: var(--text-color-white);
}
.what-we-do-p {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  background-color: #2f303acc;
  display: flex;
  justify-content: center;
}
.modal {
  position: fixed;
  z-index: 1;
  transition-property: visibility, opasity, transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--text-color-white);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.backdrop {
  background: #00000033;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-x {
  border: 1px solid #0000001a;
  border-radius: 50%;
  padding: 9.5px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.newsletter-form {
  padding-top: 20px;
  padding-left: 68px;
}
.newsletter-mail {
  width: 358px;
  height: 50px;
  background-color: var(--background-color-menu);
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  padding: 16px;
  color: var(--text-color-white);
}
.newsletter-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-color-white);
  background-color: var(--link-button-color);
  border-color: var(--link-button-color);
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.newsletter-button-icon {
  fill: var(--text-color-white);
}
.newsletter-button-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10px;
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.h3-form {
  text-align: center;
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}
.commment-form {
  color: var(--note-link-color);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 12px;
}
.label-form {
  display: flex;
  flex-direction: column;
}
.label-icon-1 {
  position: absolute;
  top: 127px;
  left: 55px;
}
.label-icon-2 {
  position: absolute;
  top: 197px;
  left: 55px;
}
.label-icon-3 {
  position: absolute;
  top: 267px;
  left: 55px;
}
.label-window:hover,
.label-window:focus {
  border-color: var(--link-button-color);
  fill: var(--link-button-color);
}
.label-text {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border-color: #21212133;
  border-radius: 4px;
  outline: none;
}
.label-comment-text {
  border-color: #21212133;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.label-text:hover,
.label-text:focus {
  border-color: var(--link-button-color);
  fill: var(--link-button-color);
}

.label-comment-text:hover,
.label-comment-text:focus {
  border-color: var(--link-button-color);
}
.label-reg-policy {
  text-decoration: underline;
  color: var(--link-button-color);
}
.label-reg-policy-text {
  color: var(--note-link-color);
  font-size: 14px;
  font-weight: 400;
}
.form-accept {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.label-checkbox {
  appearance: none;
}
.label-accept {
  position: relative;
  cursor: pointer;
}
.label-accept::before {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--brand-color);
  border-radius: 2px;
  left: -20px;
  top: 5px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-checkbox:checked + .label-accept::before {
  background-color: var(--link-button-color);
  border-color: var(--link-button-color);
}
.checkbox-icon {
  position: absolute;
  left: -17px;
  top: 8px;
  fill: var(--text-color-white);
}
.form-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--link-button-color);
  border-color: var(--link-button-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color-white);
  font-size: 16px;
  font-weight: 700;
  margin: 30px auto;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
